# No dot-directories except github/vscode
.*/
!.vscode/
!.github/
!.devcontainer/

*.code-workspace
node_modules
nbproject

# compiled admin UI (built in CI / before release, see .releaseconfig.json)
admin/build

# npm package files
iobroker.*.tgz

Thumbs.db
.commitinfo

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt